basehost=https://localhost:5181
segmentDuration=4
segmentQueueConcurrency=1
useNativeHls=1
nativeHlsListSize=9
hlsProgramDateTime=1
enableNativePlaylistSyncRewrite=0
syncLiveWindowSegments=2
hardSyncStartOffsetSeconds=3.5
